<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Users</title>
</head>
<body>
    <h1>All users</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Actions</th>
          </tr>
        
        {% for user in all_users %}
        <tr>
            <td>{{user["id"]}}</td>
            <td>{{user["first_name"]}} {{user["last_name"]}} </td> 
            <td>email: {{user["email"]}} </td>
            <td> created at: {{user["created_at"]}}</td>
            <td>
                <a href="/users/{{user['id']}}">Show</a> |
                <a href="/users/x/edit">Edit</a> |
                <a href="">Delete</a>
            </td>
        </tr>
        {% endfor %}

    </table>
    <a href="/users/new">Add a New User</a>

</body>
</html>