<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>Dojos</title>
</head>
<body>
    <div class="dojo_container">
        <div class="left_side">
            <h2>New Dojo</h2>
            <form action="">
                <label for="name">Name</label>
                <input type="text" name="name"> <br/>
                <input id="create_dojo_btn" type="submit" value="Create">
            </form>
        </div>
        <div class="right_side">
            <h2>All dojos</h2>
            <div class="all_dojos">
                <table>
                    <tr>
                        <td></td>
                    </tr>
                </table>
          </div>
          <a href="">Add Ninja</a>
        </div>
    </div>
</body>
</html>