body {
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  display: flex;
  border: 1px solid black;
  background-color: rgb(191, 209, 226);
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}

.middle {
  text-align: center;
  justify-content: center;
  flex: 1;
}
.bottom {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.container a {
  text-decoration: none;
}

.container #submit_button {
  height: 40px;
  width: 100px;
  border-radius: 10%;
}

#reset_button {
  margin-left: 20px;
  height: 40px;
  width: 65px;
  border-radius: 10%;
}
