.header {
  display: flex;
  justify-content: space-between;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid rgb(43, 42, 42);
  margin-bottom: 20px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* Add user page */

.add_user {
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.add_user input {
  margin-bottom: 10px;
}

#submit_btn {
  width: 80px;
  margin-top: 5px;
}

/* User info page */

.user_info {
  padding: 20px;
  border: 1px solid black;
  height: 200px;
  width: 400px;
}

/* Edit user page */
.edit_user {
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.edit_user input {
  margin-bottom: 10px;
}
